
<div class="ui segment">
    <div class="ui divided items">
      @for ( activity of activities; track activity.id) {     
      <div class="item">
        <div class="content">
          <a class="header">{{ activity.title }}</a>
          <div class="meta">{{ activity.date }}</div>
          <div class="description">
            <div>{{ activity.description }}</div>
            <div>{{ activity.city }}, {{ activity.venue }}</div>
          </div>
          <div class="extra">
            <button
              class="ui blue button right floated"
              (click)="onSelectActivity(activity.id)"
            >
              View
            </button>
            <button
              class="ui red button right floated"
              [ngClass]="{ loading: loadingStates[activity.id] }"
              [disabled]="loadingStates[activity.id]"
              (click)="onDeleteActivity($event, activity.id)"
            >
              Delete
            </button>
            
            <div class="ui basic label">{{ activity.category }}</div>
          </div>
        </div>
      </div>
    }
    </div>
  </div>
