
<div class="ui fluid card">
    <div class="image">
      <img src= "/assets/categoryImages/{{activities?.category}}.jpg"> 
    </div>
    <div class="content">
      <a class="header">{{activities?.title}}</a>
      <div class="meta">
        <span>{{activities?.date}}</span> 
      </div>
      <div class="description">
        {{activities?.description}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two group buttons">
        <button class="ui blue basic button">Edit</button>
        <button class="ui grey basic button">Cancel</button>            
      </div> 
    </div>
  </div>
