@if (loading) {
    <app-loading />
  }
  
  <app-header (handleFormOpen)="handleFormOpen()"/> 
  
  <div class="ui container" style="margin-top: 7em;">
      <app-activity-dashboard
        [activities]="activities"
        [selectedActivity]="selectedActivity"
        [editMode]="editMode"
        (handleSelectActivity)="handleSelectActivity($event)"
        (handleCancelSelect)="handleCancelSelect()"
        (handleFormOpen)="handleFormOpen($event)"
        (handleFormClose)="handleFormClose()"
        (handleCreateOrEditActivity)="handleCreateOrEditActivity($event)"
        (handleDeleteActivity)="handleDeleteActivity($event)"></app-activity-dashboard>
     
    
  </div>
  