
<div class="ui segment clearing">
    <form [formGroup]="activityForm" 
           (ngSubmit)="onSubmit()" 
           autocomplete="off" 
           class="ui form">
           
      <div class="field">
        <input
          placeholder="Title"
          formControlName="title"
          type="text"
        />
      </div>
      <div class="field">
        <textarea
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </div>
      <div class="field">
        <input
          placeholder="Category"
          formControlName="category"
          type="text"
        />
      </div>
      <div class="field">
        <input
          placeholder="Date"
          formControlName="date"
          type="date"
        />
      </div>
      <div class="field">
        <input
          placeholder="City"
          formControlName="city"
          type="text"
        />
      </div>
      <div class="field">
        <input
          placeholder="Venue"
          formControlName="venue"
          type="text"
        />
      </div>
      <button class="ui positive button" type="submit" [disabled]="activityForm.invalid">Submit</button>
      <button class="ui button" type="button" (click)="onCancel()">Cancel</button>
    </form>