<div class="ui inverted top fixed menu">
    <div class="ui container">
       <div class="header item" routerLink="/">
          <img  src="/assets/logo.png" alt="logo" style="margin-right: 10px;">
          {{title}}
       </div>
       <a routerLink="/activities" routerLinkActive="active" class="item">
        Activities
      </a>
      <a class="item">
        <div class="ui buttons" routerLink="/createActivity" routerLinkActive="active">
        <button class="ui positive button" (click)="onAddActivity()">Create Activity</button>
        </div>
      </a>
    </div>
</div>
  


<!-- <h1 class="ui header">
    <i class="users icon"></i>
  </h1> -->
