<div class="ui grid">
    <div class="ten wide column">      
        <app-activitylist
        [activities]="activities"
        (handleSelectActivity)="onSelectActivity($event)"
        (handleDeleteActivity)="onDeleteActivity($event)"
        [submitting]="submitting"       
        ></app-activitylist>
    </div>
    <div class="six wide column">

        @if (selectedActivity && !editMode) {
          <ng-container >
            <app-activity-details
              [activity]="selectedActivity"
              (handleCancelSelectActivity)="onCancelSelect()"
              (handleFormOpen)="onOpenForm($event)"
            ></app-activity-details>
          </ng-container>
  
        }
           @if (editMode){
            <ng-container>
              <app-activityform
                [activity]="selectedActivity"
                (handleFormClose)="onCloseForm()"
                (handleCreateOrEditActivity)="onCreateOrEdit($event)"
              ></app-activityform>
            </ng-container>
           }
       
      </div>
</div>
